{% extends 'pawsapp/base.html' %}
{% load static%}

{% block title%}

Contact Us!

{% endblock %}

{% block content %}

    <div class="contacts">

        <div class="contact-body">

            <img src="{% static 'pawsapp/images/contact.JPG' %}" alt="">

            <p>

            </p>
        </div>

        <div class="contact-body-info">                
            <a id="mail" href="mailto:kcroy@pawsitivefocusdogtraining.com">kcroy@pawsitivefocusdogtraining.com</a> 
            
            <p>
                (971) 206-1489
            </p>
            <br>
            <p>Check Us Out On:</p>
            <ul class="contact-links">
                <li>
                    <a href="https://www.facebook.com/PawsitiveFocusDogTraining/" target="_blank">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://pawsitivefocus.blog/" target="_blank">
                        Word Press Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/pawsitivefocus/" target="_blank">
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
            
        <div>

        </div>

    </div>

{% endblock %}