{% extends 'pawsapp/base.html' %}
    
{% block title%}

Make an Appointment

{% endblock%}



{% block content%}
<main class="customer-form-body">
        <div class="customer-form-header">

            <p>Book An Appointment:</p>

            {% if info  %}
            <h4>{{info}}

                {% if dog_name%}
                for {{dog_name}}
                {% endif %}
            </h4> 

            {% endif %}
        </div>
        <div class="customer-form">

            <form action="{% url 'pawsapp:get_deets'%}" method="post">
                {% csrf_token%}
                
                <div class="entry">



                    <div class="basic-info">
                        <div>
                            <label for="first_name"> First Name<span class="required">*</span></label>
                            <input  name="first_name" type="text" placeholder="Enter First Name">
                        </div>
                        
                        <div>
                            <label for="last_name"> Last Name<span class="required">*</span></label>
                            <input name= "last_name" type="text" placeholder="Enter Last Name">
                        </div>

                        <div>
                            <label for="email"> Email Address<span class="required">*</span></label>
                            <input type="email" name="email" id="email" placeholder="Enter email address">
                        </div>
                        
                        <div>
                            <label for="address"> Enter Street Address</label>
                            <input type="text" name="address" id="" placeholder="Street Address">
                        </div>

                        <div>
                            <label for="city"> Enter City</label>
                            <input type="text" name="city" id="" placeholder="City" >
                        </div>

                        <div>
                            <label for="phone"> Enter Phone Number<span class="required">*</span></label>
                            <input name = 'phone' type="tel" placeholder="Enter Phone Number">
                        </div>

                    </div>


                    <div class="training-checks">
                        <div>
                            <input type="checkbox" name="puppy_training" id="" value="True">
                            <label for="puppy_training"> Puppy training</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" name="adolescent_training" id="" value="True">
                            <label for="adolescent_training">Adolescent Training</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" name="adult_training" id="" value="True">                    
                            <label for="adult_training">Adult Dog Training</label>
                        </div>

                    </div>  
                        
                    <div class=" appt-times">
                        <h5>Enter up to three convienient dates and times for the training sessions:</h5>
                        
                        <div class="time">
                            <label for="time1"> First Choice <span class="required">*</span>:</label>
                            <input type="datetime-local" name="time1" id="time1" placeholder="Time 1">
                            
                        </div>
                        <div class="time">
                            <label for="time2"> Second Choice:</label>
                            <input type="datetime-local" name="time2" id="time2" placeholder="Time 1">
                            
                        </div>
                        <div class="time">
                            <label for="time3">Third Choice:</label>
                            <input type="datetime-local" name="time3" id="time3">
                            
                        </div>
                        
                    </div>
                   
                    
                    
                    
                    
                    <div class="dog-details">
                        <div>
                            <label for="dog_name"> Dog Name</label> <br>
                            <input type="text" name="dog_name" id="" placeholder="Name of Dog">
                        </div>

                        <textarea name="dog_detail" id="" cols="20" rows="5" placeholder="Tell me about your dog" ></textarea>
                    </div>
                    
                    <div class="referred-by">

                        <select v-model="heardAbout" name="heard_about" id="">  
                            
                            <option value="" disabled>How did you hear about us?</option>
                            <option value="Google">Google</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Local Adoption">Local Adoption Agency</option>
                            <option value="Rover">Rover</option>
                            <option value="Referral">Personal Referral</option>
                            <option value="Other">Other</option>
                            
                            
                        </select>
                        
                        
                        <div v-if="heardAbout">
                            <input v-if="heardAbout === 'Referral' " type="text" name="referred" id="referred" placeholder= 'Referred by?'>
                            <input v-if="heardAbout === 'Other' " type="text" name="other" id="other" placeholder="Enter Other Method">
                            
                        </div>
                        
                    </div>
                    
                    
                        
                </div>
                    
                
                <div>

                    <input type="submit" value="Submit">
                </div>
                <br>
                <p> <span class="required">*</span> Indicates a required field</p>
            </form>
        </div>
            
            
            
            
            
    </main>
{% endblock %}