{% extends 'pawsapp/base.html'  %}
{% load static %}

{% block title%}
Pawsitive Focus Dog Training
{% endblock %}
{% block content%}

<div class="index-body app">

    <div class="hero-pic">
        <div>
            <q>
                Training with a positive focus is fun and builds an unbreakable bond between dog and handler.
                A fulfilled, confident dog enjoys being well behaved and has a strong desire to learn! 
            </q>
        </div>
    </div>



    <div class="index-content">

        
        <div class="index-content-div">

            <div class="index-intro">

                <h4>Welcome!</h4>
                
                <p>My name is Kellyn and I'm a certified Dog Trainer with CATCH dog trainers</p>
            </div>




            <div class="service-intro">
                <p>
                    Services
                </p>
                <h6 class="update">
                    All consults will be done over Zoom. Lesson locations will be determined during the video call. 
                    Discounts available for rescue dogs, foster dogs, and shelter dogs. 
                </h6>

            </div>

            <main class="service-holder">

                <div class="service i1"> <span class="spanner" > Walk and Train </span> 
                <img src="{% static 'pawsapp/images/walk_and_train.jpg' %}" alt="">
                <p>
                    I come to your home and take your dog for a daytime 30 - 60 minute walk providing exercise and training. 
                    This is a great service for those with energetic or unruly dogs! I leave you daily reports with your dog’s 
                    progress and the techniques that I am using so that you can implement them as well. Prices start at $25/walk.
                </p>
                
                </div> 
                <div class="service i2"> <span class="spanner">  Day Training </span> 
                    <img src="{% static 'pawsapp/images/day_training.jpg' %}" alt="">
                    <p>
                        Standard one hour classes to help your dog be the best they can be.
                    </p>
                
                </div> 
                <div class="service i3"> <span class="spanner"> Puppy Training </span> 
                    <img src="{% static 'pawsapp/images/puppy_training.jpg '%}" alt="">
                    <p>
                        One on one training sessions for puppies. Length of session 
                        depends on needs but not to exceed 60 minutes. Prices start at $60/session. 
                    </p>
                
                </div> 
                <div class="service i4"> <span class="spanner">Private Enrichment and Training</span>  
                    <img src="{% static 'pawsapp/images/private_lessons.jpg' %}" alt="">
                    <p>
                        I come to your home during the day and provide enrichment, mental stimulation, 
                        basic training, and a bathroom break for your dog for 20 – 45 minutes while you are out.
                        You’ll come home to a calmer, happier dog whose skills are being developed and maintained. 
                        I leave you daily reports with the activities we did and the training techniques we practice 
                        so that you can implement them as well. Prices start at $20/visit.
                    </p>
                </div>
                <div class="service i5"> <span class="spanner"> Group Classes</span> 
                    <img src="{% static 'pawsapp/images/group_classes.jpg '%}" alt="">
                    <p>
                        <!-- Need help socializing your dog? This is the class for you! Its easy for us to forget that
                        dogs need other dogs to remember how to interact with them. This class is especially helpful 
                        for our leash-reactive buds! -->
                        Unfortunately Group Classes are on hold for the time being.
                    </p>
                </div>
                <div class="service i6 big-img"> <span class="spanner" >Private lessons </span> 
                    <img src="{% static 'pawsapp/images/sammy.jpg '%}" alt="">
                    <p>
                        One on one training sessions for adolescent and adult dogs. 
                        Length of session depends on needs but not to exceed 90 minutes.
                         Prices start at $60/session.
                    </p>
                    
                </div> 
        
                <div class="service i7"> <span class="spanner" > Pack walks </span> 
                    <img src="{% static 'pawsapp/images/pack.jpg '%}" alt="">
                    <p>
                        Group pack walks are for friendly or mildly reactive dogs. This is a great opportunity 
                        for socialization! I will briefly teach clicker training as a 
                        positive way to teach leash walking skills with clarity your dog will understand. 
                        The price is $10/walk. 
                    </p>
                    
                </div>     
                
            </main>
        
            
         
            
        </div>


        </div>
            
        
        
    </div>
    
</div>

{% endblock %}

{% block extra%}
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>

<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>
<div class="extra-space"></div>


<div class="extra-space"></div>
<div class="extra-space"></div>
{% endblock %}




