{% extends 'pawsapp/base.html'  %}

{% block title%}
Pawsitive Focus Dog Training
{% endblock %}
{% block content%}

<div class="index-body">

    <div class="hero-pic">
        <div>
            <q>
                Training with a positive focus is fun and builds an unbreakable bond between dog and handler.
                A fulfilled, confident dog enjoys being well <br> behaved and has a strong desire to learn! 
            </q>
        </div>
    </div>



    <div class="index-content">

        
        <div class="index-content-div">
            <div>
                <p>
                    Services
                </p>
            </div>

            <main class="service-holder">

                <div class="service i1"> <span class="spanner" >Walk and train </span> </div> 
                <div class="service i2"> <span class="spanner">  Day training </span> </div> 
                <div class="service i3"> <span class="spanner"> Puppy training </span> </div> 
                <div class="service i4"> <span class="spanner">Private lessons </span>  </div>
                <div class="service i5"> <span class="spanner"> Group classes</span> </div>
                
            </main>
        
            
            <div>
                <h4>Welcome</h4>
                <p>My name is Kellyn and I'm a certified Dog Trainer with CATCH dog trainers</p>
            </div>
            
        </div>
            
            
        
        
    </div>
    
</div>

{% endblock %}