{% extends 'pawsapp/base.html'  %}

{% block title%}
Pawsitive Focus Dog Training
{% endblock %}
{% block content%}

<div>

    <div>
        Hero Picture Here
        <q>
            
            Training with a positive focus is fun and builds an unbreakable bond between dog and handler.
             A fulfilled, confident dog enjoys being well behaved and has a strong desire to learn!

        </q>
    </div>




<h4>Pawsapp Index Page</h4>

    <div>
        <p>
            Services
            <ul>
                <li> Walk and train</li> 
                <li> Day training </li> 
                <li> Puppy training </li> 
                <li> Private lessons </li>
                <li> Group classes </li>
            </ul>
        </p>


        <div>
            <h4>Welcome</h4>
            <p>My name is Kellyn and I'm a certified Dog Trainer with CATCH dog trainers</p>
        </div>


        

    
    </div>
    
</div>

{% endblock %}