{% extends 'pawsapp/base.html' %}

{% block title%}

References

{% endblock %}

{% block content %}
<div class=" reference-page-body">

    <div class="heart h0"></div>
    <div class="heart h1"></div>
    <div class="heart h2"></div>
    <div class="heart h3"></div>
    <div class="heart h4"></div>

    <div class="reference-page-header">
        <h2>
           Local Resources:
        </h2>
        <div class="links">
            <p>
                Looking to adopt or volunteer with a local rescue?
                
            </p>
            <div class="resc-links">
    
                <a href="https://otatpdx.org/" target="_blank">
                    One Tail at a Time
                </a>
                
                <a href="https://streetsavvydogrescue.org/" target="_blank">
                    Street Savy Dog Rescue
                </a>
                
                <a href="https://www.familydogsnewlife.org/" target="_blank">
                    Family Dog New Life
                </a>
                
            </div>
            
        </div>    
    </div>

    
    <div class="reference-page-header ">
        <h2>References and Helpful Sites</h2>

        <div class="more-links">
                
            <a href="https://positively.com/victorias-blog/balanced-dog-training-theres-nothing-balanced-about-it/">
                Victorias Blog: Balanced Dog Training
            </a>
            
            <a href="https://www.whyanimalsdothething.com/the-damage-of-dog-whispering?fbclid=IwAR0MPajHCmeVL4xaE7QIZcBJdqtuFQlphe0Kk9eWxPt32AYxd-c1qi4GHQc">
                The Damage of Dog Whispering
            </a>
            
            <a href="https://www.patriciamcconnell.com/learning-center">
                Patricia Mcconnell Learning Center
            </a>        
            
            <a href="https://www.dogbreedinfo.com/abc.htm">
                Dog Breed Info.com
            </a>
            
            <a href="http://www.nicolewilde.com/articles/">
                Nicole Wilde.com
            </a>
            
            <a href="https://www.dogwise.com/">
                Dogwise.com
            </a>
            
        </div>        
    </div>
        
        
</div>



{% endblock %}