{% extends 'pawsapp/base.html' %}

{% block title%}

References

{% endblock %}

{% block content %}
<div class=" reference-page-body">

    <div class="heart h0"></div>
    <div class="heart h1"></div>
    <div class="heart h2"></div>
    <div class="heart h3"></div>
    <div class="heart h4"></div>

    <div class="reference-page-header">
        <h2>
            References, Helpful Sites and Adoption Info
        </h2>
        <div class="links">
            <p>
                Looking to adopt or volunteer with a local rescue?
                
            </p>
            <div>
    
                <a href="https://otatpdx.org/" target="_blank">
                    One Tail at a Time
                </a>
                
                <a href="https://streetsavvydogrescue.org/" target="_blank">
                    Street Savy Dog Rescue
                </a>
                
                <a href="https://www.familydogsnewlife.org/" target="_blank">
                    Family Dog New Life
                </a>
                
            </div>
            
        </div>    
    </div>

    
    <div class="reference-page-header ">

        <div class="">
                
            <a href="https://positively.com/victorias-blog/balanced-dog-training-theres-nothing-balanced-about-it/">
                www.positively.com/victorias-blog/balanced-dog-training-theres-nothing-balanced-about-it/
            </a>
            
            <a href="https://www.whyanimalsdothething.com/the-damage-of-dog-whispering?fbclid=IwAR0MPajHCmeVL4xaE7QIZcBJdqtuFQlphe0Kk9eWxPt32AYxd-c1qi4GHQc">
                www.whyanimalsdothething.com/the-damage-of-dog-whispering
            </a>
            
            <a href="https://www.patriciamcconnell.com/learning-center">
                www.patriciamcconnell.com/learning-center
            </a>        
            
            <a href="https://www.dogbreedinfo.com/abc.htm">
                www.dogbreedinfo.com
            </a>
            
            <a href="http://www.nicolewilde.com/articlesbynicole/">
                www.nicolewilde.com
            </a>
            
            <a href="https://www.dogwise.com/">
                www.dogwise.com/
            </a>
            
        </div>        
    </div>
        
        
</div>



{% endblock %}