{% extends 'pawsapp/base.html' %}

{% block title%}

Reference Pages

{% endblock %}

{% block content %}
<div>
<h1>This is where References go</h1>

<div class="links">
    <p>
        Looking to adopt or volunteer with a local rescue?
        
    </p>
    <div>

        <a href="https://otatpdx.org/" target="_blank">
            One Tail at a Time
        </a>
        
        <a href="https://streetsavvydogrescue.org/" target="_blank">
            Street Savy Dog Rescue
        </a>
        
        <a href="https://www.familydogsnewlife.org/" target="_blank">
            Family Dog New Life
        </a>
        
    </div>

</div>

</div>



{% endblock %}