/* Fonts */
/* font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; */



*, ::before, ::after{
    margin: 0;
    padding: 0;

}

/* Container Type Mods */

a{
    text-decoration: none;
    color: unset;

}
body{
    height: 100%;
    background-color: rgba(196, 233, 255, 0.925);
}
#app{
    height: 100%;
}

/* Container Type Mods End */





/* Base Header Section */


#base-head{
    display: flex;
    margin: .25rem;
    padding: .5rem;
    justify-content: space-between;
    color: rgb(27, 27, 27);
    position: sticky;
    top: 0;
    background-color: rgba(196, 233, 255, 0.719);
}

.hero{
    margin: 0;
}
.hero> *{
    margin: .5rem 0;
    background: rgba(255, 255, 255, 0.575);
    
}
.hero> h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 0.301);
    box-shadow: 3px 7px 13px -7px rgba(0,0,0,1);
    color: rgb(63, 63, 63);
    font-size: 2rem;
    padding: .25rem;
    border-radius: 4px;
}
.hero> a{
    background: none;
}
.hero >a >button{
    border: none;
    font-weight: 600;
    color: rgb(153, 153, 153);
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 8px;
    cursor: pointer;
    padding: .2rem;
    box-shadow: 3px 7px 13px -7px rgba(0,0,0,1);

}

.hero >a :hover{
    opacity: .9;
    transform: scale(1.1);
    
}



.header-links{
    display: flex;
    padding: 1rem;
    margin: .1rem;
    color: black;
    
}

.header-links >*{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    margin: .3rem .25rem;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 4px;
    height: 28%;
    color: rgb(104, 104, 104);;
    text-align: center;
    background: rgba(255, 255, 255, 0.692);
    box-shadow: 0px 3px 7px -3px rgba(0,0,0,0.59);
}

.header-links :hover{
    transform: scale(.9);
    background-color: rgb(146, 186, 231);
    color: rgb(255, 255, 255);
}

/* Base Header Section End */

/* Base Footer Section Start */

footer{
    display: flex;
    position: absolute;
    /* bottom: 0; */
    flex-direction: column;
    margin:  .5rem .1rem 0 .1rem;
    background: rgba(255, 255, 255, 0);
    padding: 1rem 0 0 0;
    width: 100%;
    margin-top: clamp(.25rem, 1rem, 15rem);

}
.links> *{
    margin: .1rem 0;
}
.links{
    text-align: center;
    padding: .1rem;
    font-size: .9rem;
}
.links> div{
    display: flex;
    justify-content: space-evenly;
    font-size: .9rem;
    text-decoration: underline;
}

.cert{
    display: flex;
    padding: .1rem;
    font-size: .9rem;
    background-color: rgb(255, 255, 255);
}
.cert >*{
    margin: 0 18rem 0 1rem;
}
.cert >p{
    text-align: right;
}

#apdt-img{
    /* width: 60px; */
    height: 80px;
    border-radius: 50%;
}
.contact-info{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.747);
    font-size: .9rem;
}
.info-top{
    color: rgb(116, 116, 116);
    font-weight: 600;
}
.font-awesome-imgs{
    color: rgb(119, 119, 119);
    padding: 1rem;
    font-size: 1.5rem;
}

/* Base Footer Section End */






/* Pawsapp Index Page Start*/
.required{
    color: red;
}

.index-body{
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    /* padding-right: 17px; Increase/decrease this value for cross-browser compatibility */
    /* box-sizing: content-box; */
    /* overflow-y: scroll; */
    

}
.hero-pic{
    border: 1px solid black;
    background: url('images/banner.jpg');
    background-size: cover;
    height: 75%;
    margin: 0;
    padding: 0;
}
.hero-pic> div{
    font-family: 'Montserrat', sans-serif;
    color: rgb(58, 58, 58);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    width: 40%;
    margin: 7rem 45rem;
}

.index-content{
    height: 100vh;
    margin: 0;
    padding: 0;


}
.index-content-div{
    margin: 0;
}
.index-intro{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 1rem;
    padding: .2rem;
    font-size: 2rem;
    text-align: center;
}
.index-intro> *{
    margin: .2rem;
}

.service-intro{
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    
}


.service-holder{
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}
.service-holder >*{
    margin: .1rem;
}


.service{
    text-align: center;
    background: white;
    font-size: 1.2rem;
    height: fit-content;

}
.service-holder>*{
    border: 2px solid red;
}
.service> img{
    /* height: 300px; */
    width: 200px;
    overflow: auto;
}
.i1{
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    padding: .25rem;
}
.i1>*{
    margin: auto;
}
.i2{
    grid-row: 2;
    grid-column: 3/5;
}
.i3{
    grid-row: 3;
    grid-column: 1/3;


}
.i4{
    grid-row: 4;
    grid-column: 3/5;
}
.i5{
    grid-row: 5;
    grid-column: 1/3;
}
.spanner{
    padding: 0 .1rem;

}

/* Pawsapp Index Page End */

/* Pawsapp Customer Form Start */

.customer-form-body{
    display: flex;
    flex-direction: column;
    padding: .25rem;
    margin: .5rem;   
}
.customer-form-header{
    margin: .25rem 0;
    font-size: 1.2rem;
}
.customer-form-header > h4{
    padding: .2rem;
    background: rgb(255, 255, 255);
}
form> .entry{
    display: flex;
    flex-direction: column;

}

.basic-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    border: 1px solid lavender;
}
.basic-info>div{
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}
.training-checks{
    display: flex;
    justify-content: space-around;
}
.appt-times> *{
    padding: .1rem;
    margin: .25rem;

}
.time{
    font-size: .9rem;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.dog-details{
    padding: .1rem;
    display: flex;
    flex-direction: column;
}
.dog-details>*{
    margin: .1rem 0;
}
.referred-by{
    display: flex;
    margin: .1rem;
    padding: .1rem;
}
.referred-by> *{
    margin: 0 .4rem 0 0;
}

/* Pawsapp Customer Form End */

/* Users Index/About Page Start */

.about-intro{
    background: white;
    text-align: center;
}

.top-about-me{
    width: 40%;
    margin: 1rem;
    padding: .1rem;
    background: rgba(255, 255, 255, 0.281);
    border-radius: 4px;
}
.bottom-about-me{
    /* display: flex;
    justify-content: right; */
    width: 40%;
    margin: .25rem 1rem;
    padding: .1rem;
    background: rgba(255, 255, 255, 0.253);
    position: relative;
    left: 720px;
    border-radius: 4px;

}





/* Users Index/About Page End */


/* Users Log In Start*/
.log-in-body{
    text-align: center;
}
.log-in-body > form{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}
.log-in-body > form > *{
    margin: .25rem;
}



/* Users Log In End */

/* Personal Profile Page Start */
.user-profile{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    justify-content: center;
}
.users-info{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    padding: 1rem;
    background: white;

}
.users-info> *{
    margin: .25rem;
    padding: .1rem;
}



.input-forms{
    margin: .1rem;

}
.contact-update-form{
    margin: 1rem;
    width: fit-content;
    

}
.dropped-down-form{
    background: white;
    padding: 1rem;
    margin: .2rem 0;
    border: 1px solid black;
    
}
.dropped-down-form >div > *{
    margin: .25rem 0;
}
.update-dog-btn{
    margin: 1rem;
}


.personal-profile-page-body>h3{
    margin: 1rem;
    padding: .5rem;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.644);
    width: fit-content;
    border-radius: 5px;
    box-shadow: 7px 14px 5px -12px rgba(0,0,0,0.26);


}

.dog-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    overflow-y: auto;
}
.dog-cards > *{
    margin: .5rem 0;
}
.dog{
    display: flex;
    flex-direction: column;
    margin: max(.2rem, auto);
    padding: 1rem;
    border: 2px inset black;
    border-radius: 10px;
    background: white;
    box-shadow: 7px 14px 12px -8px rgba(0,0,0,0.41);
    width: clamp(50px, 200px , 250px);
    height: min(auto, 100%);
    overflow-x: auto;
    
    
}

.dog > ul > li{
    list-style: none;
}

.dog-delete{
    border: 1px solid black;
    background: rgba(255, 0, 0, 0.473);
    color: white;
    font-size: .8rem;
    border-radius: 8px;
    cursor: pointer;

}
.message{
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: .5rem;
    cursor: pointer;

}




/* Personal Profile Page End */

/* Sign up Page Start */
.sign-up-body > .required{
    margin: .5rem;
}
.sign-up-body> form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sign-in-inputs{
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
}
.sign-in-inputs>*{
    margin: .25rem;
    padding: .1rem;

}



/* Sign Up Page End */
