{% extends 'pawsapp/base.html'%}

{% block title%}
{{ user }} Profile
{% endblock%}


{% block content%}
    <div class="personal-profile-page-body" >
        {% csrf_token%}
        <h1 id="profileID"> {{user}}'s Profile</h1>

        <div v-if="userInfo" class="user-profile">
            <h3>Current Contact Information</h3>
            <div class="users-info">
                <p>
                   <em> Phone Number: </em> <br> [[userInfo.phone_number]]
                </p>
                <p>
                   <em>First Name:</em>  <br> [[userInfo.first_name]]
                </p>
                <p>
                   <em>Last Name:</em>  <br> [[userInfo.last_name]]
                </p>
                <p>
                  <em>Address:</em>   <br> [[userInfo.address]]
                </p>
                <p>
                   <em>City:</em>  <br> [[userInfo.city]] 
                </p>
                <p>
                   <em>Zipcode:</em> <br> [[userInfo.zipcode]]
                </p>
                
                <p>
                    <em>Share:</em> <br> [[userInfo.share_pupps]]  
                </p>
                

            </div>
        </div>



        <div class="input-forms">

                <div class="contact-update-form">   
                    
                    <div v-if="message" class="message" @click= 'message = ""'> [[message]]
                        <p>click to hide</p>
                    </div>
                    
                    <!-- {{form}} -->
                    <div v-if="!dog_update">
                        <button class="form-btn ocd" @click= 'update = !update' > Update Contact Information?</button>
                    </div>
                    <div class="dropped-down-form" v-if='update'>
                        
                        <div>
                            <div>
                                <label for="phone_number">Phone Number:</label>
                                <input type="tel" v-model="phone_number" name="phone_number">
                            </div>
                            <div>
                                <label for="first_name">First Name:</label>
                                <input v-model="first_name" name="first_name" >
                            </div>
                            <div>
                                <label for="last_name">Last Name:</label>
                                <input v-model="last_name" name="last_name" >
                            </div>
                            <div>
                                <label for="address">Address:</label>
                                <input v-model="address" name="address" >
                            </div>
                            <div>
                                <label for="city">City:</label>
                                <input v-model="city" name="city" >
                            </div>
                            <div>
                                <label for="zipcode">Zipcode:</label>
                                <input v-model="zipcode" name="zipcode" >
                            </div>
                            <div>
                                <label for="share_pupps">Share your Dog's Name and Photo with others? </label>
                                <select v-model="share_pupps" name="share_pupps">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <button class="form-btn" @click= 'personalProfiler("update_user/")'>Update</button>
                        </div>
                    </div>
                </div>
            
            <br>

            
            <div class="update-dog-btn" v-if= '!update'>
                <button class="form-btn"  @click= 'dog_update = !dog_update' > Update Dog/Add new Dog</button>
            </div>
            <div class="contact-update-form" v-if="dog_update">
                <div class="dropped-down-form">
                    <div>

                        <div>
                            <label for="dog_name">Dog's Name: </label>
                            <input v-model="dog_name" name="dog_name" placeholder = 'required'>
                        </div>
                        
                        <div>
                            <label for="age">Dog's Age: </label>
                            <input type="number" v-model="age" name="age" min="0" placeholder ='required'>
                        </div>
                        
                        <div>
                            <label for="sex"> Dog's Sex: </label>
                            
                            <select v-model="sex" name="sex" id="sex" placeholder = 'required' >
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        
                        <div>
                            <label for=" size">Dog's Size: </label>
                            <select v-model= "size"  name="size" id="size">
                                <option value="" disabled> Size Required</option>
                                <option value="S">Small (Less Than 25 Pounds)</option>
                                <option value="M">Medium (25 to 75 Pounds) </option>
                                <option value="L">Large (Greater than 75 Pounds)</option>
                            </select>
                        </div>
                        
                        <div>
                            <label for=" temperment">Dog's Temperament: </label>
                            <input v-model="temperment" name="temperment" required>
                        </div>
                        <div>
                            <label for="crate_trained">Crate Trained? </label>
                            <select v-model="crate_trained" name="crate_trained" id="crate_trained" required>
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                        </div>
                        <div>
                            <label for="details">Any Other Important Details? </label>
                            <textarea v-model="details" name="details" cols="30" rows="10" required>
                            </textarea>
                        </div>
                    </div>
                    <button class="form-btn" @click= 'personalProfiler("new_dog/")'> add new</button>
                    <button class="form-btn" @click= 'personalProfiler("update_dog/")'> update</button>
                </div>

                <div class="registered-dogs">
                    <h3>Dogs you have registered:</h3>
                </div>


                <div>
                
                    <div class="dog-cards">
                        <div class="dog" v-for="(item, index) in tester" :key="index">


                            <h3>Dog Name: [[item.name]]</h3>
                            <ul>
                                <li>
                                    Age: [[item.age]]
                                </li>
                                <li>
                                    Sex: [[item.sex]]
                                </li>
                                <li>
                                    Size: [[item.size]]
                                </li>
                                <li>
                                    Temperament: [[item.temperment]]
                                    
                                </li>
                                <li>
                                    
                                    
                                    Crate Trained: [[item.crate_trained]]
                                
                                        
                                    
                                </li>
                                <li>
                                    Extra Details: [[item.details]]
                                    
                                </li>
                                
                            </ul>
                                 
                        </div>
                    

                    </div>
                </div>
            </div>


            <div class="registered-dogs">
                <h3 v-if= "!dog_update" >Dogs you have registered:</h3>
            </div>
            <div v-if= "!dog_update" class="dog-cards">
                <div class="dog" v-for="(item, index) in tester">
                    
                    
                    <h3>Dog Name: [[item.name]]</h3>
                    <ul>
                        <li>
                            Age: [[item.age]]
                        </li>
                        <li>
                            Sex: [[item.sex]]
                        </li>
                        <li>
                            Size: [[item.size]]
                        </li>
                        <li>
                            Temperament:[[item.temperment]]
                            
                        </li>
                        <li>
                            Crate Trained: [[item.crate_trained]]
                            
                            
                        </li>
                        <li>
                            Extra Details: [[item.details]]
                            
                        </li>
                        
                    </ul>
                    <div id="delete-btn">
                        <a @click= 'dogDeleter(item.id)' class="dog-delete">
                            Delete Dog
                        </a>
                    </div>
                    
                    
                </div>
                    
                    
                    
                
                
        </div>
        
        
        
        </div>
    </div>

{% endblock%}

