{% extends 'pawsapp/base.html'%}

{% block title%}
Users Index/ Happy Customers Page
{% endblock%}


{% block content%}

    <div class="sign-up-body">
        
        <div class="required">
            {% if taken%}
            <h3>
                {{taken}}
            </h3>
            <br>
            {% endif%}
            {% if error %}
            <h3>
                {{error}}

            </h3>    
            <br>
            {% endif %}
        </div>


        <form action="" method="POST">
            {% csrf_token %}
            <div class="sign-in-inputs">

                <div>
                    <label for="username">Enter Username</label>
                    <input name="username" type="text">
                </div>
                
                <div>
                    <label for="email"> Enter Email Address</label>
                    <input type="email" name="email" id="email">
                </div>
                
                <div>
                    <label for="re-email"> Re-Enter Email Address</label>
                    <input type="email" name="re-email" id="email2">
                </div>
            
                <div>
                    <label for="password">Enter Password</label>
                    <input type="password" name="password" id="pass1">
                </div>
                
                <div>
                    <label for="re-password">Re-Enter Password</label>
                    <input type="password" name="re-password" id="pass2">
                </div>
                <div>
                    <input type="submit" value="Sign Up">
                </div>
            </div>
                


        </form>
    </div>


{% endblock%}
    
    